<tomcat-users>
<!--
    Comments

   <role rolename="admin-gui"/>
   <role rolename="manager-gui"/>
   <user username="admin" password="admin_password" roles="admin-gui,manager-gui"/>

-->
</tomcat-users>
